name: A Build Workflow
run-name: Build, Test and Deploy Repo-A

on:
    workflow_dispatch:
    push:
        branches: [ "main" ]

jobs:
    build:
        runs-on: [ ubuntu-latest ]
        steps:
            - name: Checkout
              uses: actions/checkout@v4
                
            - name: Configure
              run: |
                apt update && apt install clang lld ninja cmake

            - name: Generate
              run: |
                cmake -S . -B build -DCMAKE_BUILD_TYPE=Release
            
            - name: Build
              run: |
                cmake --build build --config Release
