name: A Build Workflow
run-name: Build, Test and Deploy Repo-A

on:
    workflow_dispatch:
    pull_request:
        branches: ["main"]
    push:
        branches: [ "main" ]

permissions:
  contents: write

jobs:
    build:
        runs-on: [ ubuntu-latest ]
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Generate
              run: |
                cmake -S . -B build -DCMAKE_BUILD_TYPE=Release

            - name: Build
              run: |
                cmake --build build --config Release

            - name: Test
              run: |
                ctest --test-dir build -C Release --output-on-failure

            - name: Package
              run: |
                cmake --build build --target package

            - name: Create GitHub Release
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: |
                gh release create "${GITHUB_REF#regs/tags/}" \
                ./out/* \
                --prerelease \
                --title "Release ${GITHUB_REF#refs/tags/}" \
                --notes "Automated release"
