name: On Pull Request
run-name: On Pull Request

on:
    workflow_dispatch:
    pull_request:
        branches: ["dev"]

permissions:
  contents: read

jobs:
    build:
      uses: ./.github/workflows/build.yaml
      with:
        cmake_build_type: Release
        upload_artifacts: true
